@using System.Collections.Specialized
@using System.Web.Razor
@using HBGDatorService.Controllers
@using HBGDatorService.Models

@model IndexPageModel

<div class="slider-container">
    <div class="hiddenoo">
        <div class="owl-carousel slider">
            @foreach (var image in Model.sliderImages)
            {
                <div class="panel panel-primary slider-item">
                    <img src="@Url.Content(image)" />
                </div>
            }
        </div>
    </div>
</div>
<p>
    @if (Session["Admin"] != null && (bool)Session["Admin"])
    {
        <div class="btn-btn-default">
            <input type="button" value="Edit SlideShow" onclick="location.href = '@Url.Action("UploadSlideshowFile", "EditSlideShowImages")'" />
        </div>
    }
</p>
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Välkommen till Helsingborgs Datorservice</h4></div>
        <div class="panel-body">
            <div class="col-md-5">

                <img src="~/Images/broken_computer.png" style="width:100%; border-radius:5px;" />

            </div>
            <div class="col-md-7">
                <h2 style="margin-top:0px;"></h2>
                <article>
                    <p>Vi är ett företag som har 20 årig erfarenhet av datorer och datorproblematik, du väljer oss för att vi kan Datorer och datorutrustning.</p>
                    <p>Vi hjälper dig att välja rätt och vi sätter alltid dig som kund i centrum .</p>
                    <p>Vi har funnits i Helsingborg i snart 6 år. Du hittar oss i de södra delarna av Helsingborg 100 meter från Södergatan där vi har vår butik och service verkstad för både företag & privat personer.</p>
                    <p>På följande sidor kan du som privat kund eller företagskund navigera dig rätt till just det som du söker hjälp med.</p>
                </article>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h4> Nyheter</h4> </div>
        @if (Session["Admin"] != null && (bool)Session["Admin"])
        {
            <div class="panel-footer"> @Html.ActionLink("Visa alla nyheter", "ListNews", "Home") </div>
        }
        <div class="panel-body">
            @foreach (var news in Model.indexNews)
            {


            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><h5> @news.newsDate.ToString().Substring(0,10) - @news.newsTopic </h5></div>
                    <div class="panel-body">
                        @news.newsBody
                    </div>
                    @if (Session["Admin"] != null && (bool)Session["Admin"])
                    {
                        <div class="panel-footer"> @Html.ActionLink("Ändra", "EditNews", new { id = news.newsID }) </div>
                    }
                </div>
            </div>
            }
       

        </div>
    </div>



@section Styles {
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".slider").owlCarousel({
                autoPlay: 5000,
                singleItem: true,
                //items: 1,
                responsive: true,
                navigation: false,
                afterInit: function (event) {
                    $(".slider-container > .hiddenoo").fadeIn(100);
                }
            });
        });
    </script>
}


<script>

    $(document).ready(function () {
        function updateSize() {
            var minHeight = parseInt($('.owl-item').eq(0).css('height'));
            $('.owl-item').each(function () {
                var thisHeight = parseInt($(this).css('height'));
                minHeight = (minHeight <= thisHeight ? minHeight : thisHeight);
            });
            $('.owl-wrapper-outer').css('height', minHeight + 'px');

            /*show the bottom part of the cropped images*/
            $('.owl-carousel .owl-item img').each(function () {
                var thisHeight = parseInt($(this).css('height'));
                if (thisHeight > minHeight) {
                    $(this).css('margin-top', -1 * (thisHeight - minHeight) + 'px');
                }
            });
            $("#owl-example").owlCarousel({
                afterUpdate: function () {
                    updateSize();
                },
                afterInit: function () {
                    updateSize();
                }
            });


        }
    });

</script>