@model HBGDatorServiceDAL.Models.ServiceReadOnlyModel
@using HBGDatorServiceDAL.Models

<script type="text/javascript">
    function showTab(selected, total) {
        for (i = 1; i <= total; i += 1) {
            document.getElementById('tabs-' + i).style.display = 'none';
        }

        document.getElementById('tabs-' + selected).style.display = 'block';
    }
</script>

<div class="tabsInfoboxes">
    <div id="tabDescription" class="col-md-12">
        <div role="tabpanel" id="tabInformation">

            <ul class="nav nav-tabs" role="tablist">
                <li id="tabs1" onclick="showTab(1,2)" role="presentation"><a href="#Företag" aria-controls="Företag" role="tab" data-toggle="tab">För Företag</a></li>
                <li id="tabs2" onclick="showTab(2,2)" role="presentation"><a href="#PrivatPersoner" aria-controls="PrivatPersoner" role="tab" data-toggle="tab">För PrivatPersoner</a></li>
            </ul>

            <div id="tabs-1" style="display: none" role="tabpanel" class="tabContent">
                <div class="ServiceInfo">

                    <p>
                        @if (Session["Admin"] != null && (bool)Session["Admin"])
                        {
                            @Html.ActionLink("Edit", "EditService", "EditServicePage")    
                        }
                    </p>

                    <div class="ServiceHeader">
                        <h1>Våra Tjänster</h1>
                        <h3>Här är en lista över vad vi här på HBG Datorservice kan stå till tjänst med.</h3>
                    </div>
                    <div class="ServiceContent">
                        @foreach (var service in Model.services)
                        {

                            <div class="ServiceInfoBox">
                                <h1>@service.Header</h1>
                                <p>@service.Textfield</p>
                                <hr />
                            </div>

                        }
                    </div>

                </div>
            </div>
            <div id="tabs-2" style="display: none" role="tabpanel" class="tabContent">
                <div class="ServiceInfo">

                    <p>
                        @if (Session["Admin"] != null && (bool)Session["Admin"])
                        {
                            @Html.ActionLink("Edit", "EditService", "EditServicePage")
                        }
                    </p>

                    <div class="ServiceHeader">
                        <h1>Våra Tjänster</h1>
                        <h3>Här är en lista över vad vi här på HBG Datorservice kan stå till tjänst med.</h3>
                    </div>

                    <div class="ServiceContent">
                            @foreach (var service in Model.services)
                            {

                                <div class="ServiceInfoBox">
                                    <h1>@service.Header</h1>
                                    <p>@service.Textfield</p>
                                    <hr />
                                </div>

                            }
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
