

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HBGDatorService</title>
   
    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <img id="logo" src="~/Images/HBGDatorserviceNYliten.png" />

    
            <div class="nav">
                <div class="container Navcontainer">
                    <ul class="nav navbar-nav navbar-left">
                        @HtmlHelpers.MenuItem("Hem", "Index", "Home")
                        @HtmlHelpers.MenuItem("Om oss", "ListAbout", "Home")
                        @HtmlHelpers.MenuItem("Våra tjänster", "ListService", "Home")
                        @HtmlHelpers.MenuItem("Kontakta oss", "Index", "Contact")
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>

        
        <br />

        <div class="container body-content">
            @RenderBody()
        </div>

        <footer class="panel panel-footer container">
            <div class="row">
                <div class="panel panel-group">

                    <div class="panel-info col-md-4">
                        <div class="panel-title"><h4>Kontakt Information</h4></div>
                        <div class="panel-body">
                            <p>Tel: 042-400 44 66</p>
                            <p>Fax: 042-400 44 66</p>
                            <p>Email: info@hbgdatorservice.se</p>
                        </div>
                    </div>

                    <div class="panel-info col-md-4">
                        <div class="panel-title"><h4>Öppertider</h4></div>
                        <div class="panel-body">
                            <p>Måndag - Fredag 10:00 - 18:00</p>
                            <p>Lördag 10:00 - 13:00</p>
                            <p>Söndag Stängt</p>
                        </div>
                    </div>

                    <div class="panel-info col-md-4">
                        <div class="panel-title"><h4>Adress</h4></div>
                        <div class="panel-body">
                            <p>Gasverksgatan 33</p>
                            <p>252 68 Helsingborg</p>
                        </div>
                    </div>

                </div>
                <br />

                <div class="col-md-12">
                    <h3>@DateTime.Now.Year - HBGDatorService</h3>
                </div>
            </div>



        </footer>

    </div>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
